{
  "default": { "allow": false },
  "groups": {
    "feishu-oc_805475081daf7a78b023e13e53a41fc2": {
      "actions": ["*"],
      "approval_codes": ["*"]
    },
    "feishu-oc_64a35466adac455d7a03c654c3be5f28": {
      "actions": ["*"],
      "approval_codes": ["*"]
    }
  }
}
